.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.audio {
  grid-area: audio;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.interview {
  grid-area: interview;
}
.resource {
  grid-area: resource;
}
.info-grid {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "interview interview resource";
  gap: 30px;
}
.info-grid p {
  color: rgba(255, 255, 255, 0.616);
}
.info-grid h2 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
